html{
    background-image: url(https://chelyabinsk.safe-str.ru/upload/iblock/db1/db160c57f52d462860b7a007f7a6c260.jpg);
    background-attachment: fixed;
    background-size: cover
}
body{
    
    background-color: rgba(45, 44, 44, 0.322);
    color: aliceblue;
    
    border-color: antiquewhite;
    border-radius: 10px;
}
h1{
    color: red;
}
a{
    background-color: rgba(59, 0, 0, 0.793);
    font-size: 500%;
    text-decoration: none;
    color: aliceblue;
}
p{
    background-color: rgba(44, 0, 0, 0.307);
    color: rgb(164, 235, 172);
    border-color: antiquewhite;
    border-radius: 10px;
}
img{
    border-color: antiquewhite;
    border-radius: 10px;
}